# ----------------------------------------------------------------------------
# PROPRIETÁRIOS DE CÓDIGO do conteúdo de MDN
# ----------------------------------------------------------------------------
# Ordem é importante. O último padrão correspondente tem precedência. Para mais
# informação detalhada, consulte:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# PROPRIETÁRIOS PREDEFINIDOS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO PREDEFINIDO(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO DE PORTUGUÊS (BRAZIL) (pt-BR)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO DE CHINÊS (zh-CN, zh-TW)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO DE FRANCÊS (fr)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO DE JAPONÊS (ja)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO DE COREANO (ko)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO DE RUSSO (ru)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE CONTEÚDO DE ESPANHOL (es)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE GUIAS DE TRADUÇÃO
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/ko/     @mdn/yari-content-ko
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# PROPRIETÁRIO(S) DE FICHEIROS DE CONTROLE
# ----------------------------------------------------------------------------
# Estas devem ser as últimas correspondências neste ficheiro, já que qualquer
# pedido de ''pull'' tente alterar qualquer um ou mais destes ficheiros deverão
# ser escalados com os proprietários específicos aqui.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
